{% extends 'base.html.twig' %}
{% block body %}
	<div>
		<h1>REGISTRO DE MATERIAS</h1>
	</div>
	<div>
    	{% for flash_message in app.session.flashBag.get('success') %}
                {{ flash_message | upper }}
            </div>
        {% endfor %}
	</div>
	<div>
    	{% if form is defined %}
    	    {{ form_start(form) }}
             		{{ form_row(form.name) }}
             		{{ form_row(form.creditos) }}
             		{{ form_row(form.registrar) }}
         	{{ form_end(form) }}
         {% endif %}
	</div>
{% endblock %}